*{
    margin: 0;
    padding: 0;
}
body {
    background: url("../images/vadik.jpg") no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.4285;
}
.content {
    position: relative;
    margin-left: 10%;
    margin-top: 6%;
    height: 550px;
    width: 80%;
}

.list {
    position: absolute;
    height: auto;
    width: 100px;
    transform: translateX(-75px) translateY(-20px);
}
.menu li {
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: #fff;
}
.menu a:hover {
    opacity: 0;
}
/*END OF MENU PART*/
.text_box {
    opacity: 0.7;
    height: 500px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.text {
    font-style: Helvetica;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}
#t1:hover, #t2, #t4:hover, #t5{
    animation-name: breathing;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    animation-fill-mode: forwards;
}
#t5 {
    animation-duration: 1.5s;
}
#t3 {
    animation-name: shaking;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    animation-fill-mode: both;
}
#t6 {
    animation-name: wobble;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction:  alternate;
    animation-fill-mode: both;
}
.red {
    color: red;
}
@keyframes shaking {
    0% {
        transform: translateX(1px) translateY(1px) rotate(1deg);
    }
    90% {
        transform: translateX(-1px) translateY(-1px) rotate(-1deg);
    }
    95% {
        transform: translateX(1px) translateY(1px) rotate(1deg);
    }
    100% {
        transform: translateX(-1px) translateY(-1px) rotate(-1deg);
}
}
@keyframes breathing {
    0% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1.01);
}
}
@keyframes wobble {
   0% { transform: translateX(0%); }
   15% { transform: translateX(-25%) rotate(-3deg); }
   30% { transform: translateX(20%) rotate(3deg); }
   45% { transform: translateX(-15%) rotate(-2deg); }
   60% { transform: translateX(10%) rotate(2deg); }
   75% { transform: translateX(-5%) rotate(-1deg); }
   100% { transform: translateX(0%); }
}
/*END OF TEXT BOX*/
